#container{
    width: 936px;
    display: flex;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
}

#left{
    width: 240px;
    background-color: #f2f2f2;
    height: 338px;
    box-sizing: border-box;
    border: 2px solid #000;
    padding: 35px;
}

#klok {
    width: 175px;
    height: 175px;
    background-color: cornflowerblue;
    border-radius: 50%;
    font-size: 130px;
}

#middle {
    width: 568px;
    height: 338px;
    background-color: cornflowerblue;
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #000;
}

#main_screen {
    width: 490px;
    height: 240px;
    background-color: #f2f2f2;
}

#below_screen {
    width: 490px;
    height: 25px;
    background-color: rgb(0, 0, 106);
}

#right{
    width:128px;
    height: 335px;
    background-color: cornflowerblue;
    height: 338px;
    box-sizing: border-box;
    border: 2px solid #000;
    padding: 35px;
}