#container{
    width: 936px;
    display: flex;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
}

#left{
    width: 240px;
    background-color: #f2f2f2;
    height: 338px;
    box-sizing: border-box;
    border: 2px solid #000;
    padding: 35px;
}

#klok {
    width: 175px;
    height: 175px;
    background-color: #c8c8c8;
    border-radius: 50%;
}

#middle {
    width: 568px;
    height: 338px;
    background-color: #0047c3;
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #000;
}

#main_screen {
    width: 490px;
    height: 265px;
    background-color: #f2f2f2;
    border: 2px solid #000;
}

#board_number {
    font-size: 50px;
    width: 30px;
    height: 40px;
    margin-left: 10px;
    display: inline-block;
    color: #00006b;
}

#minuten {
    width: 170px;
    height: 40px;
    display: inline-block;
    font-size: 30px;
    color: #00006b;
}

#sprinter {
    width: 160px;
    display: inline-block;
    font-size: 45px;
    color: #00006b;
}

#plaatje {
    width: 100px;
    height: 40px;
}

#plaats {
    margin-left: 10px;
    font-size: 50px;
    color: #00006b;
}

#plaatsen {
    margin-left: 10px;
    font-size: 30px;
    color: #00006b;
}

#vlak {
    width: 100px;
    height: 55px;
}

#strook {
    width: 480px;
    height: 24px;
    background-color: #00006b;
    font-size: 20px;
    padding-left: 10px;
    display: inline-block;
    color: #f2f2f2;
}

#right{
    width:128px;
    height: 335px;
    background-color: #0047c3;
    height: 338px;
    box-sizing: border-box;
    border: 2px solid #000;
    padding: 35px;
}

#box {
    width: 96px;
    height: 96px;
    background-color: #f2f2f2;
    margin-left: -20px;
}

#smallbox {
    width: 20px;
    height: 20px;
    background-color: #0047c3;
    display: inline-block;
}

#spoor {
    display: inline-block;
    color: #00006b;
}

#bigcijfer {
    font-size: 60px;
    margin-left: 30px;
    color: #00006b;
}